version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345
      - POSTGRES_DB=investment_portfolio_db
    ports:
      - '5434:5432' # Exposes the database port to your local machine
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: